name: Build pdf

on:
  pull_request:

permissions:
  contents: write

jobs:
  build-pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: template.tex
          args: -pdf -shell-escape -interaction=nonstopmode -output-directory=build